.about {
    height: 250px;
    margin: 40px 10% 0 10%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  section.about img {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    margin-right: 50px;
    opacity: .8;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    border: 3px solid #777777;
  }
  
  /*
  section.about img:hover {
    transform: scale(1.02);
    opacity: 1;
  }
  */
  
  section.about div {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  
  }
  
  section.about h3 {
    margin: 0 0 25px 0;
  }
  
  .skills {
    height: 300px;
    margin: 0 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .skills h3 {
    margin: 0 0 25px 0;
  }
  
  .skills ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .skills li {
    font-size: 2em;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .education {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }
  
  .top-flex {
    height: 160px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 40px 0 0 0;
  }
  
  .bottom-flex {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 40px 0 0 0;
  }
  
  .college p {
    color: #353d44;
    font-family: "Roboto Slab", "Droid Serif", Georgia;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
  }
  
  .college img {
    height: 150px;
    margin-bottom: 20px;
    padding: 0 0;
  }
  
  .bitwise img {
    height: 130px;
    width: auto;
  }
  
  .codeschool {
    width: auto;
    height: 700px;
    margin: -30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .codeschool img {
    width: 250px;
    height: auto;
    padding: 5px 0 0 0;
    margin: 0 100% 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }
  
  .badges {
    width: auto;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .badges img {
    width: 100px;
    height: 100px;
    margin: 40px 40px 0 40px;
    padding: 0 0 0 0;
    opacity: .8;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 50%;
  }
  
  .badges img:hover {
    transform: scale(1.7) rotate(3deg);
    opacity: 1;
    box-shadow: 0 0 10px #777777;
  }