h2 {
  color: var(--color-one);
}

.about {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
  
.about img {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin-right: 50px;
  opacity: .8;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  border: 3px solid #777777;
}

.about-p {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; 
}
  
.about-p h2 {
  margin-bottom: 20px;
}

.about-p p {
  text-align: justify;
}
  
.skills {
  width: 80%;
  margin: 0 auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
  
.skills h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
}

.skill {
  position: relative;
  margin: 10px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.skill h3 {
  width: 100%;
  margin-top: 10px;
  pointer-events: none;
}

.skill i {
  pointer-events: none;
}

.skill-lvl {
  color: var(--color-one);
  position: absolute;
  top: 5%;
  font-size: 6em;
  pointer-events: none;
}

.disclaimer {
  color: rgba(0, 0, 0, .6);
  font-size: .6em;
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: center;
}
  
.education {
  width: 80%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.education h2 {
  margin-bottom: 25px;
}

.devicon {
  font-size: 10em;
}

/* Animation */

.flip {
  animation-duration: .6s;
  animation-name: flip;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
  100% {
    opacity: .3;
    transform: rotateY(180deg) scale(.9);
  }
}

.unflip {
  animation-duration: .6s;
  animation-name: unflip;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes unflip {
  0% {
    opacity: .3;
    transform: rotateY(180deg) scale(.9);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
}

.value-flip {
  animation-duration: .6s;
  animation-name: value-flip;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes value-flip {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}