h2 {
  color: var(--color-one);
}

.about {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
  
.about img {
  width: 350px;
  margin: 0 50px 0 0;
  border: 2px outset #777777;
}

.about-p {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; 
}

.about-p p {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: justify;
}
  
.skills {
  width: 90%;
  margin: 0 auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}
  
.skills h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
}

.skill {
  position: relative;
  margin: 10px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.skill h3 {
  width: 100%;
  margin-top: 10px;
  pointer-events: none;
}

.skill i {
  pointer-events: none;
}

.skill-lvl {
  color: var(--color-one);
  position: absolute;
  top: 5%;
  font-size: 6em;
  pointer-events: none;
}

.disclaimer {
  color: rgba(0, 0, 0, .6);
  font-size: .6em;
  width: 80%;
  margin: 0 auto 100px auto;
  text-align: center;
}

.devicon {
  font-size: 10em;
}

/* Animation */

.flip {
  animation-duration: .6s;
  animation-name: flip;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
  100% {
    opacity: .3;
    transform: rotateY(180deg) scale(.9);
  }
}

.unflip {
  animation-duration: .6s;
  animation-name: unflip;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes unflip {
  0% {
    opacity: .3;
    transform: rotateY(180deg) scale(.9);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
}

.value-flip {
  animation-duration: .6s;
  animation-name: value-flip;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes value-flip {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Media Queries */

@media (max-width: 1020px) { 
  .about {
    margin: 20px auto;
    flex-wrap: wrap;
  }

  /* .about p {
    margin-top: 15px;
  } */

  .about img {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 700px) { 

  .about p {
    text-align: left;
  }
}

@media (max-width: 450px) { 
  .about {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 25px 0;
  }

  .about img {
    margin: 0 0 30px 0;
    width: 100%;
    border: none;
  }

  .about p {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .skill {
    margin: 10px 0; 
  }
}