em {
    color: inherit;
}

.project-text {
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0 0 10px gray;
    padding: 20px 0;
    border-bottom: 4px solid lightgray;
}

.project-text h3, p {
    margin: 0 auto;
    width: 80%;
    font-family: var(--fonts-two);
}

.project-text h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-family: var(--fonts-one);
}

.project-text p {
    text-align: justify;
}

.listr {
    background-image: url("../images/listr-lrg.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.clovis-coffee {
    background-image: url("../images/clovis-coffee-lrg.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.calculator {
    background-image: url("../images/calculator-lrg.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Media Queries Start */
@media only screen and (max-width: 1024px) {
    .listr, .clovis-coffee, .calculator {
        background-attachment: scroll;
        background-position-y: 0;
        height: 450px;
    }
}

@media only screen and (max-width: 700px) {
    .listr, .clovis-coffee, .calculator {
        height: 350px;
    }

    .project-text h3, p {
        width: 90%;
    }

    .project-text p {
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .listr, .clovis-coffee, .calculator {
        height: 250px;
    }
}
/* Media Queries End */