em {
    color: inherit;
}

.project-text {
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0 0 10px gray;
    padding: 20px 0;
    border-bottom: 4px solid lightgray;
}

.project-text h3, p {
    margin: 0 auto;
    width: 80%;
    font-family: var(--fonts-two);
}

.project-text h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-family: var(--fonts-one);
}

.project-text p {
    text-align: justify;
}

.listr {
    background-image: url("../images/listr-lrg.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.clovis-coffee {
    background-image: url("../images/clovis-coffee-lrg.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.calculator {
    background-image: url("../images/calculator-lrg.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Github Link */

.github-container {
    background-color: rgba(240, 240, 240, 1);
    color: white;
    position: relative;
    box-shadow: 0 0 5px rgba(35, 35, 35, .3);
}

.github-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-cap {
    color: var(--color-one);
    font-size: 3em;
    text-align: center;
    z-index: 2;
    margin: 30px 0;
    text-transform: uppercase;
    font-family: var(--fonts-one);
    opacity: 0;
    animation: 3s fadeIn 1.5s forwards;
}

.github-hero {
    font-size: 20em;
    transition: all .6s;
    color: var(--color-one);
    animation: 3s fadeIn 1s forwards;
    opacity: 0;
    margin: -20px 0;
}

.github-hero:hover {
    transform: scale(1.05);
}

.slash-left, .slash-right {
    background-color: rgba(235, 235, 235, 1);
    height: 100%;
    width: 50%;
    position: absolute;
    transform: skew(-45deg);
}

.slash-left {
    transform-origin: top left;
    top: 0;
    left: 0;
    animation: slashLeft 5s forwards ease-out;
}

.slash-right {
    transform-origin: bottom right;
    top: 0;
    right: 0;
    animation: slashRight 5s forwards ease-out;
}

/* Animations */

@keyframes slashLeft {
    0% {
        transform: skew(-45deg) translateX(-65%);
    }
    100% {
        transform: skew(-45deg) translateX(-45%);
    }
}

@keyframes slashRight {
    0% {
        transform: skew(-45deg) translateX(25%);
    }
    100% {
        transform: skew(-45deg) translateX(45%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries Start */
@media only screen and (max-width: 1920px) {
    .listr {
        background-image: url("../images/listr-med.jpg");
    }

    .clovis-coffee {
        background-image: url("../images/clovis-coffee-med.jpg");
    }

    .calculator {
        background-image: url("../images/calculator-med.jpg");
    }
}

@media only screen and (max-width: 1280px) {
    .listr {
        background-image: url("../images/listr-sml.jpg");
    }

    .clovis-coffee {
        background-image: url("../images/clovis-coffee-sml.jpg");
    }

    .calculator {
        background-image: url("../images/calculator-sml.jpg");
    }
}

@media only screen and (max-width: 1024px) {
    .listr, .clovis-coffee, .calculator {
        background-attachment: scroll;
        background-position-y: 0;
        height: 380px;
    }
}

@media only screen and (max-width: 700px) {
    .listr, .clovis-coffee, .calculator {
        height: 280px;
    }

    .project-text h3, p {
        width: 90%;
    }

    .project-text p {
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .listr, .clovis-coffee, .calculator {
        height: 180px;
    }
}

/* Media Queries End */