/* Variables */
:root {
  --color-blk: rgba(35, 35, 35, 1);
  --color-oj: rgba(250, 62, 26, 1);
  --color-wht: rgba(239, 241, 236, 1);
  --fonts-one: 'Roboto Condensed', Sans-Serif;;
  --fonts-two: 'Roboto Slab', Serif;
}

/* Element Defaults */

html {
  position: relative;
  min-height: 100%;
}

body, main, h1, h2, h3, h4, ul, li, nav, p, section, div {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-size: 62.5%; /* Set 1em = 10px */
  margin-bottom: 75px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-wht);
  font-family: var(--fonts-one);
  text-transform: uppercase;
}

h1 {
  font-size: 4.5em;
  font-weight: lighter;
}

h2 {
  font-size: 2.5em;
}

h3 {
  text-align: center;
  font-size: 2em;
  color: var(--color-blk);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
    list-style-type: none;
}

p {
  color: var(--color-blk);
  font-family: var(--fonts-two);
  font-size: 1.8em;
  text-align: justify;
  line-height: 1.7;
}

em {
  color: var(--color-oj);
}

.hidden { 
  display: none;
}

/* Header */
header {
  background-color: var(--color-blk);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px var(--color-blk);
}

.spacing-container {
  /* Matching Header Height/Width */
  height: 100px; 
  width: 100%;
}

.header-text {
  margin-left: 20px;
  position: relative;
  animation-duration: 1.2s;
  animation-name: headerIn;
}

  /* Nav */
  nav li {
    color: var(--color-wht);
    font-family: var(--fonts-one);
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .5px;
    display: inline;
    margin: 0 20px;
    transition: all .4s;
    position: relative;
    animation-duration: 1.2s;
    animation-name: headerIn;
  }

  nav li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--color-oj);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  nav li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .nav-breadcrumb {
    border-bottom: 2px solid var(--color-oj);
  }
  /* Nav End */

  /* Mobile Nav Start */
  .mobile-nav {
    width: 100%;
    position: fixed;
    top: 100px;
    z-index: 4;
  }

  .mobile-nav-item {
    width: 100%;
    color: var(--color-wht);
    font-family: var(--fonts-one);
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .5px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-blk);
    transition: all .4s;
    background-color: rgba(55, 55, 55, 1);
    position: absolute;
  }

  .mobile-nav-item:hover {
    background-color: var(--color-oj);
    cursor: pointer;
  }

  .home-nav {
    z-index: 4;
    -webkit-transform: translate(0, -55px);
    transform: translate(0, -55px);
  }

  .about-nav {
    z-index: 3;
    -webkit-transform: translate(0, -55px);
    transform: translate(0, -55px);
  }

  .work-nav {
    z-index: 2;
    -webkit-transform: translate(0, -55px);
    transform: translate(0, -55px);
  }
  /* Mobile Nav End */

  /* Hamburger Menu Start */
  .menu {
    display: none;
    margin: 0 20px 0 0;
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .menu:hover {
    cursor: pointer;
  }
  
  .hm {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 4px;
    border-radius: 1px;
    transform-origin: center;
  }
  
  .hm-mid {
    -webkit-transform: translate(0, 12.5px);
    transform: translate(0, 12.5px);
    z-index: 4;
  }
  
  .hm-top {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 3;
  }
  
  .hm-bot {
    -webkit-transform: translate(0, 25px);
    transform: translate(0, 25px);
    z-index: 2;
  }

  /* Hamburger Menu End */
/* Header End */

/* Carousel */
.carousel-container {
  position: relative;
  width: 100%;
}

.slides {
  position: relative;
  width: 100%;
}

.slides img {
  width: 100%;
}

  /* Carousel Text */

  .carousel-text {
    position: absolute;
    text-shadow: 0 0 20px var(--color-blk);
    width: 100%;
    top: calc(50% - 74px);
  }

  .carousel-text h1 {
    width: 100%;
    font-family: 'Oswald';
    font-size: 10em;
    text-align: center;
    color: var(--color-wht);
  }

  .carousel-text h2 {
    width: 100%;
    font-family: 'Oswald';
    font-size: 4.1em;
    text-align: center;
    color: var(--color-wht);
    margin-top: -30px;
  }

  .hero {
    top: calc(50% - 100px);
  }

  /* Carousel Buttons */
  .carousel-container i {
    font-size: 6em;
    position: absolute;
    z-index: 1;
    color: var(--color-oj);
    transition: all .6s;
    /* Remove Tap Highlight on Mobile */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .carousel-container i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  i.fa-pause, i.fa-play {
    font-size: 3em;
    bottom: 20px;
    right: 20px;
  }

  i.fa-angle-left {
    left: 20px;
    top: calc(50% - 30px);
  }

  i.fa-angle-right {
    right: 20px;
    top: calc(50% - 30px);
  }
/* Carousel End */

/* Welcome */
.welcome {
  width: 60%;
  margin: 25px auto 100px auto;
}

.welcome p {
  text-align: justify;
  color: var(--color-blk);
  font-family: var(--fonts-two);
}
/* Welcome End */

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-blk);
  width: 100%;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px var(--color-blk);
}

footer .fa {
  color: var(--color-wht);
  opacity: .6;
  font-size: 4em;
  margin-right: 30px;
  transition: all .6s;
  cursor: pointer;
}

footer .fa:hover {
  opacity: 1;
}

footer .fa-envelope-square {
  margin-right: 0;
}
/* Footer End */

/* Animation */
  /* Hamburger Icon Animation Start */
  .aniOpen {
    animation: aniOpen;
  }

  .aniClose {
    animation: aniClose;
  }

  .aniMidOpen {
    animation: aniMidOpen;
  }

  .aniMidClose {
    animation: aniMidClose;
  }

  .aniTopOpen {
    animation: aniTopOpen;
  }

  .aniTopClose {
    animation: aniTopClose;
  }

  .aniBotOpen {
    animation: aniBotOpen;
  }

  .aniBotClose {
    animation: aniBotClose;
  }

  .aniOpen, .aniClose, .aniMidOpen, .aniMidClose, .aniTopOpen, .aniTopClose, .aniBotOpen, .aniBotClose  {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes aniOpen {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    75% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  @keyframes aniClose {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    25% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    50% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    60% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  @keyframes aniMidOpen {
    40% {
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      background-color: rgba(255, 255, 255, 0);
    }
  }

  @keyframes aniMidClose {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }
    50% {
      background-color: rgba(255, 255, 255, 0);
    }
    60% {
      background-color: rgba(255, 255, 255, 1);
    }
    100% {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  @keyframes aniTopOpen {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(0, 12.5px);
      transform: translate(0, 12.5px);
      background-color: rgba(255, 255, 255, 1);
    }
    100% {
      -webkit-transform: translate(0, 12.5px) rotate(135deg);
      transform: translate(0, 12.5px) rotate(135deg);
      background-color: rgba(250, 62, 26, .7);
    }
  }

  @keyframes aniTopClose {
    0% {
      -webkit-transform: translate(0, 12.5px) rotate(135deg);
      transform: translate(0, 12.5px) rotate(135deg);
      background-color: rgba(250, 62, 26, .7);
    }
    50% {
      -webkit-transform: translate(0, 12.5px) rotate(0);
      transform: translate(0, 12.5px) rotate(0);
      background-color: rgba(255, 255, 255, 1);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes aniBotOpen {
    0% {
      -webkit-transform: translate(0, 25px);
      transform: translate(0, 25px);
    }
    50% {
      -webkit-transform: translate(0, 12.5px);
      transform: translate(0, 12.5px);
      background-color: rgba(255, 255, 255, 1);
    }
    100%{
      -webkit-transform: translate(0, 12.5px) rotate(45deg);
      transform: translate(0, 12.5px) rotate(45deg);
      background-color: rgba(250, 62, 26, 1);
    }
  }

  @keyframes aniBotClose {
    0% {
      -webkit-transform: translate(0, 12.5px) rotate(45deg);
      transform: translate(0, 12.5px) rotate(45deg);
      background-color: rgba(250, 62, 26, 1);
    }
    50% {
      -webkit-transform: translate(0, 12.5px) rotate(0);
      transform: translate(0, 12.5px) rotate(0);
      background-color: rgba(255, 255, 255, 1);
    }
    100%{
      -webkit-transform: translate(0, 25px);
      transform: translate(0, 25px);
    }
  }
  /* Hamburger Icon Animation End */

  /* Mobile Nav Animation Start */
  .aniHomeOpen {
    animation: aniHomeOpen;
  }

  .aniHomeClose {
    animation: aniHomeClose;
  }

  .aniAboutOpen {
    animation: aniAboutOpen;
  }

  .aniAboutClose {
    animation: aniAboutClose;
  }

  .aniWorkOpen {
    animation: aniWorkOpen;
  }

  .aniWorkClose {
    animation: aniWorkClose;
  }

  .aniHomeOpen, .aniHomeClose, .aniAboutOpen, .aniAboutClose, .aniWorkOpen, .aniWorkClose {
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.68,.28,.44,.91);
  }

  @keyframes aniHomeOpen {
    0% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes aniHomeClose {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    66% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
  }

  @keyframes aniAboutOpen {
    0% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
    33% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
    100% {
      -webkit-transform: translate(0, 52px);
      transform: translate(0, 52px);
    }
  }

  @keyframes aniAboutClose {
    0% {
      -webkit-transform: translate(0, 52px);
      transform: translate(0, 52px);
    }
    33% {
      -webkit-transform: translate(0, 52px);
      transform: translate(0, 52px);
    }
    100% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
  }

  @keyframes aniWorkOpen {
    0% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
    66% {
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
    100%{
      -webkit-transform: translate(0, 104px);
      transform: translate(0, 104px);
    }
  }

  @keyframes aniWorkClose {
    0% {
      -webkit-transform: translate(0, 104px);
      transform: translate(0, 104px);
    }
    100%{
      -webkit-transform: translate(0, -55px);
      transform: translate(0, -55px);
    }
  }
  /* Mobile Nav Animation End */
/* Animation End */

/* Media Queries Start */
@media (min-width: 1021px) { 
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 1020px) { 
  .welcome {
    width: 80%;
  }

  .carousel-text {
    top: calc(50% - 59px);
  }

  .carousel-text h1 {
    font-size: 8em;
  }

  .carousel-text h2 {
    font-size: 3.3em;
  }

  .hero {
    top: calc(50% - 82px);
  }

  .menu {
    display: block;
  }

  nav ul {
    display: none;
  }
}

@media (max-width: 700px) { 
  .carousel-text {
    top: calc(50% - 44.5px);
  }

  .carousel-text h1 {
    font-size: 6em;
  }

  .carousel-text h2 {
    font-size: 2.48em;
    margin-top: -20px;
  }

  .hero {
    top: calc(50% - 62px);
  }

  .carousel-container i {
    font-size: 4em;
  }

  i.fa-pause, i.fa-play {
    font-size: 2em;
  }

  i.fa-angle-left {
    top: calc(50% - 20px);
  }

  i.fa-angle-right {
    top: calc(50% - 20px);
  }

  .welcome p {
    text-align: left;
  }
}

@media (max-width: 450px) { 
  .welcome {
    width: 90%;
  }
}
/* Media Queries End */