/* Variables */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab');

:root {
  --color-one: rgba(35, 35, 35, 1);
  --color-two: rgba(250, 62, 26, 1); 
  --color-three: rgba(239, 241, 236, 1);
  --fonts-one: 'Roboto Condensed', Sans-Serif;;
  --fonts-two: 'Roboto Slab', Serif;
}


/* Element Defaults */

body {
  width: 100%;
  margin: 0px;
}

body main h1 h2 h3 h4 ul li nav p section div {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%; /* Set 1em = 10px */
}


/* Header */
header {
  background-color: var(--color-one);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacing-container {
  height: 100px;
  width: 100%;
}

h1 {
  color: var(--color-three);
  font-family: var(--fonts-one);
  font-size: 3.4em;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: var(--color-three);
  font-family: var(--fonts-one);
  font-size: 1.4em;
  text-transform: uppercase;
  margin: -5px 0 0 0;
}

.header-text {
  padding-left: 20px;
  display: flex;
  flex-wrap: none;
}

  /* Nav */
  nav li {
    color: var(--color-three);
    font-family: var(--fonts-one);
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: .5px;
    display: inline;
    margin: 0 20px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }

  nav li:hover {
    color: var(--color-two);
  }

  .nav-breadcrumb {
    border-bottom: 2px solid var(--color-two);
  }

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-align: center;
  font-size: 2.3em;
  color: #353d44;
  font-family: "Langdon", Helvetica;
  font-kerning: none;
  line-height: .8em;
  margin: 0 0 0 0;
}

h4 {
  text-align: center;
  font-size: 1.2em;
  color: #353d44;
  font-family: "Roboto Slab", "Droid Serif", Georgia;
  font-kerning: none;
  line-height: .8em;
  margin: 15px 0 10px 0;
}

ul {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

li {
  color: #353d44;
  font-family: "Roboto Slab", "Droid Serif", Georgia;
  font-size: 1em;
  line-height: 1.7;
  text-align: center;
  list-style: none;
}

footer {
  background-color: var(--color-one);
  width: 100%;
  height: 75px;
  text-align: center;
  /* padding: 25px 0 25px 0; */
  /* margin: 40px 0 0 0; */
}

a.logo {
  color: #f8f7f3;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

a.logo:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

p {
  font-family: "Roboto Slab", "Droid Serif", Georgia;
  margin: 0 0 0 0;
  line-height: 1.7;
  color: #353d44;
}

.about {
  height: 250px;
  margin: 40px 10% 0 10%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

section.about img {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin-right: 50px;
  opacity: .8;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  border: 3px solid #777777;
}

/*
section.about img:hover {
  transform: scale(1.02);
  opacity: 1;
}
*/

section.about div {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

section.about h3 {
  margin: 0 0 25px 0;
}

.skills {
  height: 300px;
  margin: 0 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.skills h3 {
  margin: 0 0 25px 0;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.skills li {
  font-size: 2em;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.education {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.top-flex {
  height: 160px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 40px 0 0 0;
}

.bottom-flex {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 40px 0 0 0;
}

.college p {
  color: #353d44;
  font-family: "Roboto Slab", "Droid Serif", Georgia;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
}

.college img {
  height: 150px;
  margin-bottom: 20px;
  padding: 0 0;
}

.bitwise img {
  height: 130px;
  width: auto;
}

.codeschool {
  width: auto;
  height: 700px;
  margin: -30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.codeschool img {
  width: 250px;
  height: auto;
  padding: 5px 0 0 0;
  margin: 0 100% 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.badges {
  width: auto;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.badges img {
  width: 100px;
  height: 100px;
  margin: 40px 40px 0 40px;
  padding: 0 0 0 0;
  opacity: .8;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 50%;
}

.badges img:hover {
  transform: scale(1.7) rotate(3deg);
  opacity: 1;
  box-shadow: 0 0 10px #777777;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.slideshow-text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slideshow-text h1 {
  width: 100%;
  font-family: var(--fonts-one);
  font-size: 7.2em;
  text-align: center;
  color: var(--color-three);
}

.slideshow-text h2 {
  width: 100%;
  font-family: var(--fonts-one);
  font-size: 2.5em;
  text-align: center;
  color: var(--color-three);
}

.slides img {
  max-width: 100%;
  /* display: none; */
}